html {
  background-image: url('https://wallpapercave.com/wp/wp2757959.gif') ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}






body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  color: aliceblue;
  

 
}
.main {
  flex: 1;
  margin-top: -10px;
}

.center {
  flex: 1;
  margin-top: -80px;
 
}

h1 {
  font-size: 5rem;
  text-align: center;
}

footer {
  text-align: right;
  color: rgb(255, 255, 255);
  padding-top: 100px;
  clear: both;
}

.creative {
  color: blue;
  text-decoration: none;
}

.card-titled {
  color: blue;
  padding-right: 0px;
}



.card-title {
  color: blue;
  padding-right: 20px;
}

.left {
  float: left;
}
.right {
  float: right;
}

.center {
  float: center;
}

.tile-image{
  width: 400px;;
  float:  left;
  margin-right: 50px;
  border-radius: 10%;
}

.card {
  width: 45%;
  text-align: center;
}

.main > div{
  padding-top: 50px;
}

.card:hover {
  color: blue;
}

@media (max-width: 900px) {
  .logo {
    width: 0px;
    margin-right: 40px ;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    
  }

  .list {
    margin-top: 50px;
    margin-right: 40px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    text-align: justify;
    
  }

  .card img {
    margin-bottom: 30px;
    width: 100%;
    display: inline;
    object-fit: cover;
    
  }

 img.tiled-image {
    padding-left: 0px;
  }
}



.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  
  flex-direction: row;
  

}

.link{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.link::before, .link::after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  background-color: blue;
  height: 2px;
  transform: scaleX(0);
  transition: transform 60.25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  top: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after{
  transform: scaleX(1);
}


.logo{
  float: right;
  display: flex;
  width: 100px;
  padding-left: 40px;
}

.navbar {
  height: max-content;
  display: flex;
  align-items: center;
  
}

.main >.center {
  display: flex;
  align-items: center;
  clear: both;
}

.center {
  
  width: 100%;
  flex-direction: column;
}

.tiled-image {
  width: 400px;
}

.copyright {
  
  width: fit-content;
  float: right;
}

.legend {
  
  width: fit-content;
  float: left;
}
